@import 'global';
@import 'animations';

:root {
  --primary-color: #03A8A9;
  --secondary-color: #EF5B0C;
  --dark-blue: #003865;
  --light-color: #fff;
  --gray-color: #808080;
  --dark-color: #000;
  --semi-light-color: #f7f7f7;

  --light-filer: invert(100%) sepia(1%) saturate(4%) hue-rotate(3deg) brightness(103%) contrast(101%);
  --primary-filter: invert(48%) sepia(44%) saturate(3620%) hue-rotate(148deg) brightness(94%) contrast(97%);
}

.custom-btn {
  width: 170px;
  height: 45px;
  border-radius: 23px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;
  background-color: var(--secondary-color);
  z-index: 9;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(0, 1);
    transform-origin: top right;
    background: linear-gradient(90deg, #03A8A9, #EF5B0C);
    top: 0;
    left: 0;
    z-index: -1;
    transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
  }

  img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin-inline-end: 10px;
    filter: var(--light-filer);
  }

  span {
    color: var(--light-color);
    font-size: 15px;
    font-weight: 500;
  }

  &:hover {
    &::after {
      transform: scale(1, 1);
      transform-origin: bottom left;
    }
  }
}

.product-box {
  width: 100%;
  position: relative;
  z-index: 9;
  transition: all .3s linear;

  .image-content {
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .product-btn {
      width: 100%;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      position: absolute;
      bottom: 10px;
      left: 0px;
      transform: translateY(40px);
      transition: all .3s linear;
      opacity: 0;
      visibility: hidden;

      .add-to-cart {
        width: 170px;
        height: 50px;
        background-color: var(--primary-color);
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        position: relative;
        z-index: 9;
        overflow: hidden;
        border-radius: 10px;
        margin-inline-end: 15px;

        img {
          width: 24px;
          height: 24px;
          object-fit: contain;
          margin-inline-end: 10px;
          filter: var(--light-filer);
        }

        span {
          color: var(--light-color);
          font-size: 15px;
          font-weight: 500;
        }

        &::after, &::before {
          content: '';
          position: absolute;
          width: 0%;
          height: 100%;
          top: 0;
          background-color: var(--secondary-color);
          z-index: -1;
          transition: all .3s linear;
        }

        &::after {
          left: 0;
        }

        &::before {
          right: 0px;
        }

        &:hover {
          &::after, &::before {
            width: 55%;
          }
        }
      }

      .fav-btn {
        width: 50px;
        height: 50px;
        background-color: var(--secondary-color);
        border-radius: 10px;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;

        img {
          width: 25px;
          height: 25px;
          object-fit: contain;
          filter: var(--light-filer);
        }

        &:hover img {
          animation: tada .4s linear;
        }
      }
    }
  }

  .contain {
    width: 100%;
    margin-top: 20px;
    padding: 20px 15px;
    border-radius: 20px;
    background-color: var(--light-color);
    text-align: center;
    box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.05);

    &.no-margin {
      margin-top: 0;
      box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.0);
    }

    h2 {
      color: var(--dark-color);
      font-size: 20px;
      font-weight: 900;
      margin-bottom: 20px;
    }

    .desc {
      color: var(--gray-color);
      font-size: 15px;
      font-weight: 500;
      margin: 0px;
    }

    .flex-price {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: flex-end;
      margin-top: 15px;

      .after {
        color: var(--secondary-color);
        font-size: 15px;
        font-weight: 900;
        margin: 0px;
        margin-inline-end: 10px;
      }

      .before {
        text-decoration: line-through;
        font-size: 15px;
        color: var(--gray-color);
        margin: 0px;
        font-weight: 500;
        margin-inline-end: 10px;
      }
    }

    .product-btn {
      width: 100%;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      margin-top: 15px;

      .add-to-cart {
        width: calc(100% - 50px);
        height: 50px;
        background-color: var(--primary-color);
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        position: relative;
        z-index: 9;
        overflow: hidden;
        border-radius: 10px;
        margin-inline-end: 15px;

        img {
          width: 24px;
          height: 24px;
          object-fit: contain;
          margin-inline-end: 10px;
          filter: var(--light-filer);
        }

        span {
          color: var(--light-color);
          font-size: 15px;
          font-weight: 500;
        }

        &::after, &::before {
          content: '';
          position: absolute;
          width: 0%;
          height: 100%;
          top: 0;
          background-color: var(--secondary-color);
          z-index: -1;
          transition: all .3s linear;
        }

        &::after {
          left: 0;
        }

        &::before {
          right: 0px;
        }

        &:hover {
          &::after, &::before {
            width: 55%;
          }
        }
      }

      .fav-btn {
        width: 50px;
        height: 50px;
        background-color: var(--secondary-color);
        border-radius: 10px;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;

        img {
          width: 25px;
          height: 25px;
          object-fit: contain;
          filter: var(--light-filer);
        }

        &:hover img {
          animation: tada .4s linear;
        }
      }
    }
  }

  &:hover {
    transform: translateY(-10px);

    .image-content .product-btn {
      transform: translateY(0px);
      visibility: visible;
      opacity: 1;
    }
  }
}

.general-section {
  width: 100%;
  padding: 70px 0px 50px 0px;
  position: relative;
  z-index: 9;
}

.custom-heading {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  margin-bottom: 50px;
  justify-content: space-between;

  .heading {
    width: fit-content;

    h1 {
      color: var(--dark-color);
      font-size: 30px;
      font-weight: 900;
      margin-bottom: 20px;
    }

    p {
      color: var(--gray-color);
      font-size: 15px;
      font-weight: 500;
      margin: 0px;
    }
  }

  .see-more {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    .image-content {
      width: 24px;
      height: 24px;
      position: relative;
      z-index: 9;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        filter: var(--primary-filter);
        position: relative;
        z-index: 9;
      }

      &::after, &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 50%;

      }

      &::after {
        background-color: var(--secondary-color);
        z-index: -2;
      }

      &::before {
        background-color: var(--light-color);
        z-index: -1;
      }
    }

    span {
      color: var(--primary-color);
      font-size: 18px;
      font-weight: 900;
      margin-inline-end: 15px;
    }

    &:hover {
      .image-content {
        &::after {
          opacity: 1;
          animation: pulsecust 2s linear infinite alternate-reverse;
        }
      }

      span {
        color: var(--secondary-color);
      }
    }
  }
}

.navbar {
  width: 100%;
  padding: 10px 0px;
  background-color: #fff;
  position: relative;
  z-index: 999;

  .content {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;

    .hamburger{
      display: none;

      .line{
        width: 30px;
        height: 3px;
        background: var(--primary-color); 
        display: block;
        margin: 8px auto;
        transition: all 0.3s ease-in-out;
      }

      &.active{
        transition: all 0.3s ease-in-out;
        transition-delay: 0.6s;
        transform: rotate(45deg);

        .line{
          &:nth-child(2){
            width: 0px;
          }

          &:nth-child(1) ,
          &:nth-child(3){
            transition-delay: 0.3s;
          }

          &:nth-child(1){
            transform: translateY(6.5px);
          }
          
          &:nth-child(3){
            transform: translateY(-15px) rotate(90deg);
          }                             
        }
      }
    }

    .brand-name {
      display: flex;
      align-items: center;
      align-content: center;

      img {
        width: 80px;
        height: 80px;
        object-fit: contain;
        margin-inline-end: 10px;
      }

      span {
        font-size: 30px;
        font-weight: 900;
        color: var(--primary-color);
      }
    }

    .navbar-nav {
      flex-direction: row;

      .nav-item {
        margin-inline-end: 20px;
        
        &:last-child {
          margin-inline-end: 0px !important;
        }

        .nav-link {
          font-size: 15px;
          font-weight: 700;
          color: var(--dark-color);

          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }

    .links-contain {
      display: flex;
      align-items: center;
      align-content: center;
      
      .icon {
        margin-inline-end: 10px;

        &.list-data {
          position: relative;
          z-index: 9;

          &:hover {
            .list-contain {
              opacity: 1;
              visibility: visible;
              transform: translateY(0px);
            }
          }
        }

        &:last-child {
          margin-inline-end: 0px;

          .icon-contain img {
            filter: none !important;
          }
        }

        .icon-contain {
          width: 40px;
          height: 40px;
          border-radius: 10px;
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;
          border: 1px solid var(--primary-color);
          position: relative;
          z-index: 9;
          overflow: hidden;

          &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 0px;
            background-color: var(--primary-color);
            top: 0;
            left: 0;
            z-index: -1;
            transition: all .3s linear;
          }

          img {
            width: 50%;
            height: 50%;
            object-fit: contain;
            filter: var(--primary-filter);
          }

          &:hover {
            border-color: transparent;

            &::after {
              height: 100%;
            }

            img {
              animation: fadeInLeft .4s linear;
              filter: var(--light-filer);
            }
          }
        }

        .list-contain {
          position: absolute;
          top: 100%;
          left: 0;
          z-index: 999;
          transform: translateY(30px);
          visibility: hidden;
          opacity: 0;
          transition: all .3s linear;

          .lang-list {
            width: 200px;
            padding: 5px 10px;
            background-color: var(--light-color);
            box-shadow: 0px 0px 10px rgba($color: #03A8A9, $alpha: 0.2);
            border-radius: 10px;
            position: relative;
            z-index: 999;
  
            li {
              width: 100%;
              padding: 10px 0px;
              border-bottom: 1px solid #ddd;
  
              &:last-child {
                border-bottom: 0px !important;
              }
  
              a {
                width: 100%;
                display: flex;
                align-items: center;
                align-content: center;
                position: relative;
                z-index: 9;
  
                img {
                  width: 24px;
                  height: 24px;
                  object-fit: contain;
                  margin-inline-end: 10px;
                }
  
                span {
                  color: var(--dark-color);
                  font-size: 15px;
                  font-weight: 500;
                }
  
                &::after {
                  content: '';
                  position: absolute;
                  width: 24px;
                  height: 24px;
                  background: url('../images/check_circle.svg') center / contain no-repeat;
                  filter: var(--primary-filter);
                  top: calc(50% - 12px);
                  left: 0px;
                  z-index: -1;
                  transform: scale(0);
                  transition: all .3s linear;
                }
  
                &:hover, &.active {
                  &::After {
                    transform: scale(1);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

header {
  width: 100%;
  padding: 100px 0px;
  position: relative;
  z-index: 9;

  &::after, &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
  }

  &::after {
    background: linear-gradient(-90deg, #03A8A9, #EF5B0C);
    z-index: -2;
  }

  &::before {
    background: url('../images/pattern.png') bottom left / 100% 100% repeat-x;
    animation: wave 20s linear infinite !important;
    height: 80%;
  }

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      color: var(--light-color);
      font-weight: 900;
      font-size: 30px;
      margin: 0px;
    }

    p {
      color: var(--semi-light-color);
      font-size: 15px;
      font-weight: 500;
      margin: 20px 0px;
      text-align: justify;
      line-height: 1.8rem
    }

    .custom-btn {
      &::after {
        background: var(--light-color) !important;
      }

      &:hover {
        img {
          filter: var(--primary-filter);
        }

        span {
          color: var(--primary-color);
        }
      }
    }
  }

  .image-content {
    width: 100%;
    height: 400px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: left;
    }
  }
}

.category {
  .product-shape {
    width: 100%;
    padding: 20px 10px;
    background-color: rgba($color: #003865, $alpha: 0.05);
    border-radius: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    transition: all .3s linear;

    .image-content img {
      width: 100px;
      height: 100px;
      object-fit: contain;
      transition: all .3s linear;
    }

    h2 {
      color: var(--dark-color);
      font-size: 20px;
      font-weight: 900;
      margin: 30px 0px 0px;
    }

    &:hover {
      transform: translateY(-10px);

      img {
        animation: tada .4s linear both;
      }
    }
  }
}

.products {
  background: rgba($color: #03A8A9, $alpha: 0.03);
}

.banners {
  .banner{
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    border-radius: 20px;

    &.primary-bk{
      background-color: var(--primary-color);
    }

    &.secondary-bk{
      background-color: var(--secondary-color);
    }

    .banner-img
    {
      width: 265px;
      height: 100%;
      object-fit: contain;
      object-position: top;
      transform: scale(0);
      transition: all .4s linear;
    }

    .banner-content{
      width: calc(100% - 265px);
      padding: 50px 78px 50px 78px;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: space-between;

      .banner-data{
          h4{
              color: #fff;
              font-size: 25px;
              line-height: 41px;
              font-weight: 900;
              margin-bottom: 20px;
              transform: translateY(-10px);
              opacity: 0;
              transition: all .4s linear;
          }

          p{
              color: rgba($color: #fff , $alpha: .70);
              font-size: 15px;
              font-weight: 700;
              line-height: 30px;
              margin: 0px;
              transform: translateX(-10px);
              opacity: 0;
              transition: all .4s linear;
          }
      }

      .custom-btn {
        width: 150px !important;
        opacity: 0;
        transition: all .4s linear;
      }
    }
  }

  .owl-item.active{
    .banner{
      .banner-img
      {
        transform: scale(1) !important;
      }
      h4 , p {
        transform: translate(0px , 0px) !important;
        opacity: 1;
      }
      .custom-btn{
        animation: tada 1s both !important;
        transform: scale(1) !important;
        opacity: 1 !important;
      }
    }
  }
}

.features {
  width: 100%;
  padding: 50px 0px 30px 0px;
  
  .box {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px 10px;
    background-color: rgba($color: #03A8A9, $alpha: 0.03);
    text-align: center;
    transition: all .3s linear;

    img {
      width: 100px;
      height: 100px;
      object-fit: contain;
      margin-bottom: 20px;
      filter: var(--primary-filter)
    }

    h1 {
      color: var(--primary-color);
      font-size: 20px;
      font-weight: 900;
      margin: 0px;
    }

    &:hover {
      transform: translateY(-10px);

      img {
        animation: tada .3s linear both;
      }
    }
  }
}

footer{
  width: 100%;
  padding: 50px 0px 10px;
  background-color: #03A8A9;
  position: relative;
  z-index: 9;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: url('../images/pattern.png') bottom left / 100% 100% repeat-x;
    animation: wave 20s linear infinite !important;
    height: 80%;
  }

  .content{
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
  }

  h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    color: var(--light-color);
  }

  .links{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 30px 0px;

    li{
      margin-inline-end: 15px;

      a{
        color: var(--light-color);
        font-size: 15px;
        font-weight: 500;

        &:hover{
          color: var(--secondary-color);
        }
      }
    }
  }

  .visa-img {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    li {
      margin-inline-end: 10px;

      &:last-child {
        margin-inline-end: 0px !important;
      }

      img {
        width: 50px;
        height: 50px;
        object-fit: contain;
      }

      &:last-child img {
        width: 50px;
        height: 20px;
      }
    }
  }

  .socail{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    li{
        margin-inline-end: 10px;

      a{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        border: 1px solid var(--light-color);

        i{
          color: var(--light-color);
          font-size: 15px;
          transition: all .4s linear;
        }

        &:hover{
          background-color: var(--light-color);
          border-color: transparent;

          i{
            animation: toRightFromLeft .4s linear;
            color: var(--primary-color);
          }
        }
      }
    }
  }

  .copyrights{
    padding: 10px 0px;
    width: 100%;
    text-align: center;
    border-top: 1px solid #ddd;

    p{
      color: var(--light-color);
      font-size: 15px;
      font-weight: 500;
      margin: 0px;
    }
  }
}

@import 'media';